body {
    background-color: #f0f0f0;
}

div {
    margin: 10px;
    border: 1px solid #222
}

#wrapper {
    width: fit-content;
}

.exercise { 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}